@model IEnumerable<DanhmucModel>
@{
    ViewData["title"] = "Danhmuc Listed";
}
<h3>Danh mục</h3>
<a asp-area="Admin" asp-action="Create" asp-controller="Danhmuc">Thêm Danh Mục</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Danh mục</th>
            <th scope="col">Mô tả danh mục</th>
           
            <th scope="col">Slug</th>
            <th scope="col">Trạng thái danh mục</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@item.Slug</td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-controller="Danhmuc" asp-route-Id="@item.Id">Xóa</a>
                </td>
            </tr>
        }


    </tbody>
</table>